{% extends 'base.html.twig' %}

{% block title %}Créer une tâche{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer une nouvelle tâche</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}

        <a href="{{ path('task_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </div>
{% endblock %}
